*.aux
*.log
*.pdf
*.pyc
*.class
assignment1/*.lp
/assignment2/nbproject/nbproject/private/
/assignment2/javacode/nbproject/private/
/assignment2/tsp_java/nbproject/private/
/assignment2/tsp_java/build/
/assignment2/tsp_java/dist/